.form__user {
  display: flex;
  flex-direction: column;
}
.form__user input[type="text"],
input[type="email"],
input[type="password"] {
  margin: 10px 0;
}
.form__user button[type="submit"] {
  margin: 20px 0;
}
.user_sigin_stuffs {
  margin-right: 30px;
}
.logout_styling {
  display: flex;
  align-items: center;
}
.logout_styling button {
  margin: 0 5px;
}
